h1 {
  color: yellow;
  background-color: darkgreen;
  border: 2px solid orange;
  padding: 20px;
  border-radius: 50%;
}

p {
  color: darkmagenta;
}

div {
  background-color: orange;
  color: darkslateblue;
}
